/* #MY ACCOUNT STYLES
========================================================================================================================= */
.acc-title {text-align:center; color:#555555; font-size:24px; font-weight:400; text-transform:uppercase; margin:20px 0;}
.acc-panel {background:#fff; padding:20px; border-radius:5px; margin:0 10px 20px 10px;}

.acc-nav {display:block; border:1px solid #f5f6f7;height:34px; line-height:34px;}
.acc-nav li {float:left;height:34px; line-height:34px; border-right:1px solid #f5f6f7;}
.acc-nav li a{display:block; font-size:15px; color:#555; padding:0 15px;}
.acc-nav li a:hover,.acc-nav li a.active {background:#737373; color:#fff;}

/*Profile Styles*/
.ptitle {font-size:20px; color:#555; font-weight:300; margin-bottom:15px; padding-bottom:5px; border-bottom:1px solid #f5f6f7;}

.profile-table  {font-size:13px; width:100%;}
.profile-table td{padding:10px; vertical-align:middle; }
.profile-table td a {color:#a7a7a7; text-decoration:underline;}
.profile-table td a:hover {text-decoration:none;}
.profile-table .td1 {width:112px;}

.addresses address{border:1px solid #d6d6d6; font-size:13px; color:#a7a7a7; padding:10px; cursor:default;}
.addresses a {color:#a7a7a7;font-size:13px; text-decoration:underline;}
.addresses a:hover {text-decoration:none;}


.editaddrs-table  {font-size:13px; width:100%;}
.editaddrs-table td{padding:10px; vertical-align:top; }
.editaddrs-table td a {color:#a7a7a7; text-decoration:underline;}
.editaddrs-table td a:hover {text-decoration:none;}
.editaddrs-table .td1 {width:150px;}

.edit-address textarea{width:350px; height:80px; resize:none;}


/*Orders Styles*/
.orders-table  {width:100%;}
.orders-table th {background:#f0f0f0;padding:10px; vertical-align:middle; text-align:left;border:1px solid #eee;}
.orders-table td{padding:10px; vertical-align:middle; text-align:left; font-size:11px;border:1px solid #eee;}
.orders-table td a {color:#555555; text-decoration:underline;}
.orders-table td a:hover {text-decoration:none;}
.orders-table .td1 {width:100px;}
.orders-table .td2 {width:120px;}
.orders-table .td3 {width:100px;}
.orders-table .td4 {width:100px;}
.orders-table .td5 {width:80px;}
.orders-table .estimate {font-size:11px; color:#999999;}
.orders-table .actions{ color:#57a6b9; text-decoration:underline;}
.orders-table .orderno {color:#57a6b9;font-size:13px; font-weight:600; text-decoration:none;}